.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-button {
    -fx-background-color: transparent;
}

.v-box {
    -fx-background-color: lightblue;
}

.button {
    -fx-background-color: transparent;
}

.message {
    -fx-background-color: lightgrey;
    -fx-background-radius: 8;
}

.image-background {
    -fx-background-color: lightgrey;
    -fx-background-radius: 20;
    -fx-background-size: 55;
}

.chat {
    -fx-background-radius: 8;
}